.root {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .modal-btn {
    border-radius: 10px;
    width: 150px;
    height: 70px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: ease 0.3s;
    margin: 25px;
 }

 p {
    font-size: 30px;
    text-transform: uppercase;
 }